# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
.venv/
env/
ENV/

# Pytest
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# MyPy / type checkers
.mypy_cache/
.dmypy.json
.pyre/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local config
.env
